[include]
    path = ~/.gitconfig.local

[core]
    editor = vim

[user]
    # name = ...    # from .gitconfig.local
    # email = ...   # from .gitconfig.local

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = black bold
    frag = blue bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    st = status
    ci = commit
    cia = commit --amend
    co = checkout
    lf = log --name-status
    lp = log --patch
    ll = log --graph --oneline --decorate --all
    ap = add --patch
    fa = fetch --all --prune
    pf = push --force
    diffs = diff --staged

[push]
    default = simple
